.container {
  height: 100%;
  overflow: scroll;
  .main {
    height: 100%;
    padding: 1rem 3rem;
    max-width: 1200px;
    .message {
      display: flex;
      flex-direction: column;
      .message_head {
        display: flex;
        width: 20%;
        justify-content: space-between;
        .ts {
          font-size: 0.9em;
        }
        .name {
          font-weight: bold;
        }
      }
      .message_body {
        margin: 0.3rem 0 1rem;
      }
    }
  }
}
